$background-black: #0f0E17;

$text-white: #F8F8F8;
$text-shadow: #101E29;
$text-blue: #00DEDE;

$text-disabled-color: #838383;
$text-disabled-top-shadow: #58A4D1;
$text-disabled-bottom-shadow: #243F72;

$menu-blue: #007DC7;
$menu-blue-shadow: #026fAF;


$menu-border: $text-shadow;
$menu-border-fill: $text-white;
$menu-background: $menu-blue;
$menu-shadow: $menu-blue-shadow;
