$background-black: #0f0E17;

$text-white: #F8F8F8;
$text-shadow: #101E29;
$text-blue: #00DEDE;

$menu-blue: #007DC7;
$menu-blue-shadow: #026fAF;


$menu-border: $text-white;
$menu-border-fill: $text-shadow;
$menu-background: $menu-blue;
$menu-shadow: $menu-blue-shadow;
