@import 'colors';

.message {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .paragraph__right {
    text-align: right;
  }

  .button {
    cursor: pointer;
    font: inherit;
    color: inherit;
    text-shadow: inherit;
    font-size: small;
    padding: 10px;
    border-radius: 2px;
    border: none;
    background: rgba($menu-border-fill,.1);
    box-shadow: 1px 1px 0 0 rgba($menu-border,.5);

    &:hover {
      background: rgba($menu-border-fill,.15);
    }
    &:active {
      box-shadow: -1px -1px 0 0 rgba($menu-border,.5);
    }
    &:focus {
      outline:0;
    }
  }
}
