@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import 'colors';
@import 'icons';
@import 'dimensions';
@import 'mixins';

@import 'menu';
@import 'main';
@import 'equip';
@import 'spells';
@import 'schemata';
@import 'save';

@font-face {
    font-family: 'Pixel Emulator';
    src: url('/fonts/PixelEmulator/PixelEmulator.otf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: $background-black;
  height: 100%;
}

body {
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
